body {
    background: #364156;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    font-weight: 900;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 5% 20% 5% 20%;
}

a {
    color: #364156;
    font-size: 24px;
    font-weight: 700;
    padding: 2%;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 2px solid #3F4C64;
    color: #BFC4CF;
    cursor: pointer;
    font-family: serif;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

/* TITLE */

.dark-grey {
    color: #BFC4CF;
}

.light-grey {
    color: #FFFFFF;
}

#first-2 {
    margin: 5px;
}

#second-2 {
    margin: 10px 0 5;
}

/* BUTTONS */

#london-button {
    background: #E7737F;
    margin-bottom: 1.5px;
}

#wales-button {
    background: #DAFEB7;
    margin-bottom: 1.5px;
}

#edinburgh-button {
    background: #6ECCD8;
}

/* BOXES */

.boxes {
    margin: 3% 20% 3% 20%;
    padding: 2%;
    text-align: left;
}

#london-box {
    border: 1px solid #E7737F;
    color: #E7737F
}

#wales-box {
    border: 1px solid #DAFEB7;
    color: #DAFEB7
}

#edinburgh-box {
    border: 1px solid #6ECCD8;
    color: #6ECCD8
}

/* CHECKBOX LISTS */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border: 2px solid #3F4C64;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #364156;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #BFC4CF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media only screen and (max-width: 800px) {

    nav {
        display: flex;
        flex-direction: column;
        margin: 5% 1% 5% 1%
    }

    a {
        padding: 5%;
    }

    .boxes {
        margin: 5% 1% 5% 1%;
        padding: 5%;
    }
  }