body {
    background: #364156;
    color: #BFC4CF;
    font-family: sans-serif;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 5% 20% 5% 20%;
    /* text-align: center; */
}

a {
    color: #364156;
    padding: 2%;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #3F4C64;
    cursor: pointer;
    font-family: serif;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

/* BUTTONS */

#london-button {
    background: #E7737F;
    margin-bottom: 1.5px;
}

#wales-button {
    background: #DAFEB7;
    margin-bottom: 1.5px;
}

#edinburgh-button {
    background: #6ECCD8;
}

/* BOXES */

.boxes {
    margin: 5% 20% 5% 20%;
    padding: 2%;
    text-align: left;
}

#london-box {
    border: 1px solid #E7737F;
}

#wales-box {
    border: 1px solid #DAFEB7;
}

/* CHECKBOX LISTS */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border: 1px solid #3F4C64;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #364156;
}